body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

/*------------------Cеточные стили-----------------*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: 531px;
}

.main-header-bg {
  width: 1200px;
  min-height: 565px;
  background: url("../img/group-1.jpg") no-repeat top;
  background-size: cover;
}

.filters-bg {
  width: 1200px;
  min-height: 216px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
}

.features {

  margin-bottom: 57px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.features-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.service {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  padding-top: 164px;
  margin-bottom: 80px;
}

.service li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.open-form {
  margin-top: 52px;
}

.main-footer,
.footer-btm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.social {
  display: flex;
  justify-content: space-around;
}


.found {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  border-bottom: 1px solid #f2f2f2;
}

.sort {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.option-form {
  display: flex;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.price {
  display: flex;
  flex-direction: column;
  margin-left: 600px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;
}

.item-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  margin-left: 670px;
}

.rating p {
  margin: 0;
}


/*-------------------конец-----------------*/

.navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.main-catalog {
  font: inherit;
  line-height: 21px;
}

.main-catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price p {
  margin: 0;
  font-weight: bold;
}

.price .button {
  font: inherit;
  line-height: 21px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.price .button:hover,
.price .button:focus {
  background-color: #ffffff;
  color: #000000;
}

.found h2 {
  font-size: 21px;
  line-height: 26px
  font-weight: bold;
}

.found p,
.found a {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-item:nth-child(1) a {
  color: #a3c7de;
}

.sort-item:nth-child(2) a,
.sort-item:nth-child(3) a {
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a {
  color: #b2b2b2;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;
}

.catalog-list li {
  margin: 0;
  padding: 0;
}

.catalog h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog h3 a:hover {
  color: #81b3d2;
}

.catalog h3 a:active {
  color: #b2b2b2;
}

.item-info h3 {
  margin: 0;
}

.left-column a {
  margin: ;
  padding: ;
  font: inherit;
  font-weight: bold;
  background-color: #81b3d2;
}

.left-column a:hover {
  background-color: #669ec0;
}

.left-column a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.right-column a {
  font: inherit;
  font-weight: bold;
  background-color: #766357;
}

.right-column a:hover {
  background-color: #604e43;
}

.right-column a:active {
  background-color: #503e33;
  color: #857871;
}

.features-header p {
  margin: 0;
  text-align: center;
}

.features-header p:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
}

.features-header p:nth-child(2) {
  font-weight: normal;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item p {
  margin: 0;
}

.feature-item .features-item-info {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-info p {
  font-weight: normal;
  margin: 0;
}

.features-item-img img {
  display: block;
}

.feature-item h2 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.service {
  list-style: none;
}

.service p {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.features-list .gray-bg {
  width: 400px;
  height: 256px;
  background-color: #eeeeee;
}

.interested {
  text-align: center;
}

.interested h2 {
  margin: 0;
  font-size: 32px;
}

.interested p {
  margin: 0;
}

.button {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.open-form {
  margin: 0;
  padding: 0;
  width: 570px;
  height: 86px;
  background-color: #766357;
}

.open-form:hover,
.open-form:focus {
  background-color: #604e43;
}

.open-form:active {
  background-color: #503e33;
  color: #857871;
}

.search-motel-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 568px;
  height: 395px;
  font-weight: bold;
  border: 1px solid #000000;
  margin-left: 315px;
}

.search-motel-form .form-group:nth-child(3) {
  display: flex;
}

.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-motel-form div:nth-child(1) input,
.search-motel-form div:nth-child(2) input {

  padding: ;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border: none;
}

.step-down,
.step-up {
  padding: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.step-down:hover,
.step-up:hover {
  color: #000000;
}

.step-down:active,
.step-up:active {
  color: #81b3d2;
}

.search-motel-form a {
  background-color: #81b3d2;
}

.search-motel-form a:hover {
  background-color: #669ec0;
}

.search-motel-form a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.main-footer p:first-child {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer p {
  margin: 0;
}

.modal-map {
  position: relative;
  width: 1200px;
  min-height: 593px;
  background: url("../img/map.jpg") no-repeat top;
  background-size: cover;
}

.footer-btm {
  position: absolute;
  width: 1200px;
  height: 120px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
