body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: calc(50% - 69px);
}

.promo {
  min-height: 515px;
  background-color: #ddebf4;
  background: url("../img/group-1.jpg") no-repeat 0 -50px;
  margin-bottom: 60px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 0 72px;
  list-style: none;
  min-height: 56px;
}

.site-navigation li:nth-child(2) {
  margin-left: 144px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 161px;
}

.site-navigation a {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.filters {
  min-height: 216px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
}

.option-form {
  display: flex;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.main-catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  margin-left: 600px;
}

.price p {
  margin: 0;
  font-weight: bold;
}

.price .button {
  font: inherit;
  line-height: 21px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.price .button:hover,
.price .button:focus {
  background-color: #ffffff;
  color: #000000;
}

.found {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  border-bottom: 1px solid #f2f2f2;
}

.found h2 {
  font-size: 21px;
  line-height: 26px
  font-weight: bold;
}

.found p,
.found a {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.sort-item:nth-child(1) a {
  color: #a3c7de;
}

.sort-item:nth-child(2) a,
.sort-item:nth-child(3) a {
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a {
  color: #b2b2b2;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;
}

.rating {
  ;
}

.rating p {
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 1200px;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}

.catalog-list li {
  margin: 0;
  padding: 0;
  padding: 30px 72px;
}

.catalog h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog h3 a:hover {
  color: #81b3d2;
}

.catalog h3 a:active {
  color: #b2b2b2;
}

.item-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.item-info h3 {
  width: 100%;
  margin: 0;
}

.left-column,
.right-column {
  width: 50%;
}

.left-column a {
  margin: ;
  padding: ;
  font: inherit;
  font-weight: bold;
  background-color: #81b3d2;
}

.left-column a:hover {
  background-color: #669ec0;
}

.left-column a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.right-column a {
  font: inherit;
  font-weight: bold;
  background-color: #766357;
}

.right-column a:hover {
  background-color: #604e43;
}

.right-column a:active {
  background-color: #503e33;
  color: #857871;
}

.features {
  margin-bottom: 57px;
}

.features-header p {
  margin: 0;
  text-align: center;
}

.features-header p:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

.features-header p:nth-child(2) {
  font-weight: normal;
  margin-bottom: 56px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.feature-item p {
  margin: 0;
}

.feature-item .features-item-info {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-info p {
  font-weight: normal;
  margin: 0;
}

.features-item-img img {
  display: block;
}

.feature-item h2 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.service {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
  margin-bottom: 80px;
  list-style: none;
}

.service li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  padding-top: 164px;
}

.service p {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.features-list .gray-bg {
  width: 400px;
  height: 256px;
  background-color: #eeeeee;
}

.interested {
  text-align: center;
}

.interested h2 {
  margin: 0;
  font-size: 32px;
}

.interested p {
  margin: 0;
}

.button {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.open-form {
  margin: 0;
  padding: 0;
  width: 570px;
  height: 86px;
  background-color: #766357;
  margin-top: 52px;
}

.open-form:hover,
.open-form:focus {
  background-color: #604e43;
}

.open-form:active {
  background-color: #503e33;
  color: #857871;
}

.search-motel-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 568px;
  height: 395px;
  font-weight: bold;
  border: 1px solid #000000;
  margin-left: 315px;
}

.search-motel-form .form-group:nth-child(3) {
  display: flex;
}

.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-motel-form div:nth-child(1) input,
.search-motel-form div:nth-child(2) input {

  padding: ;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border: none;
}

.step-down,
.step-up {
  padding: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.step-down:hover,
.step-up:hover {
  color: #000000;
}

.step-down:active,
.step-up:active {
  color: #81b3d2;
}

.search-motel-form a {
  background-color: #81b3d2;
}

.search-motel-form a:hover {
  background-color: #669ec0;
}

.search-motel-form a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color:  rgba(255, 255, 255, 0.5);
}

.footer-margin {
  margin-top: -120px;
}

.social {
  display: flex;
  justify-content: space-around;
}

.main-footer .hashteg {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer p {
  margin: 0;
}


