body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 1px #dbdbdb;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: calc(50% - 69px);
}

.promo {
  min-height: 515px;
  background-color: #ddebf4;
  background: url("../img/group-1.jpg") no-repeat 0 -55px;
  margin-bottom: 52px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 15px 72px;
  padding-bottom: 15px;
  list-style: none;
}

.site-navigation li:nth-child(2) {
  margin-left: 147px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 165px;
}

.site-navigation a {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.filters {
  height: 218px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-color: #6f99bf;
}

.option-form {
  display: flex;
  justify-content: space-between;
  padding: 27px 72px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.option-form legend {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
}

.type-comfort,
.type-house {
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.type-comfort li,
.type-house li{
  padding-bottom: 25px;
}

.option-form fieldset:nth-child(2) {
  margin-left: -95px;
}

.pool-checkbox,
.parking-checkbox,
.internet-checkbox,
.hotel-checkbox,
.motel-checkbox,
.appartment-checkbox {
  position: relative;
  padding-left: 40px;
}


.option-form input[type="checkbox"] + .filter-input-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.option-form input[type="checkbox"]:checked + .filter-input-checkbox::before {
  display: none;
}


.option-form input[type="checkbox"] + .filter-input-checkbox::after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.option-form input[type="checkbox"]:checked + .filter-input-checkbox::after {
  display: block;
}

.option-form input[type="checkbox"]:disabled + .filter-input-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.option-form input[type="checkbox"]:checked:disabled + .filter-input-checkbox::after  {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.filter-range {
  width: 318px;
  margin-left: 132px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 18px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  height: 30px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.found {
  display: flex;
  align-items: baseline;
  padding: 28px 72px;
  border-bottom: 1px solid #f2f2f2;
}

.found h2 {
  margin: 0;
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px
  font-weight: bold;
}

.found p,
.found a {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.found p {
  margin-right: 42px;
}

.sort {
  display: flex;
}

.sort-item a {
  margin-right: 33px;
  color: #b2b2b2;
}

.sort-item-current a {
  color: #81b3d2;
}

.sort-item:nth-child(2) a,
.sort-item:nth-child(3) a {
  border-bottom: 1px dotted #81b3d2;
}

.sort-item:nth-child(2) a:hover,
.sort-item:nth-child(3) a:hover {
  color: #81b3d2;
}

.sort-item:nth-child(2) a:active,
.sort-item:nth-child(3) a:active {
  color: #000000;
  border-bottom: none;
}


.found .arrow-sort {
  display: flex;
  justify-content: space-between;
  width: 35px;
  margin: 0 auto;
  margin-left: 470px;
  padding: 0;
}

.arrow-sort-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-sort-item path {
  fill: #cacaca;
}

.arrow-sort-item:hover path,
.arrow-sort-item:focus path {
  fill: #231f20;
}

.arrow-sort-item:active path {
  fill: #81b3d2;
}

.sort-item-current path {
  fill: #81b3d2;
}

.main-catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #f2f2f2;
}

.catalog-list li {
  margin: 0;
  padding: 0;
  padding: 30px 72px;
}

.catalog h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog h3 a:hover {
  color: #81b3d2;
}

.catalog h3 a:active {
  color: #b2b2b2;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  width: 400px;
}

.item-info h3 {
  margin: 0;
  margin-top: -7px;
}

.top-row  {
  display: inline-block;
  margin-top: -10px;
  margin-right: 0px;
}

.top-row-one {
  margin-left: 35px;
}

.top-row-two {
  margin-left: 61px;
}

.top-row-three {
  margin-left: 17px;
}

.bottom-row a {
  margin: 0;
  margin-right: 2px;
  padding: 5px 17px;
  font: inherit;
  font-weight: bold;
  color: #ffffff;
}

.button-left {
  background-color: #81b3d2;
}

.button-left:hover {
  background-color: #669ec0;
}

.button-left:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-right {
  font: inherit;
  font-weight: bold;
  background-color: #766357;
}

.button-right:hover {
  background-color: #604e43;
}

.button-right:active {
  background-color: #503e33;
  color: #857871;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 386px;
}

.catalog-list .catalog-item:nth-child(1) .rating-item {
  width: 92px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 2px 0;
}

.catalog-list .catalog-item:nth-child(2) .rating-item {
  width: 66px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.catalog-list .catalog-item:nth-child(3) .rating-item {
  width: 44px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.rating p {
  margin: 0;

  padding: 0 10px;
  background-color: #f2f2f2;
}

.features {
  margin-bottom: 56px;
}

.features-header p {
  margin: 0;
  text-align: center;
}

.features-header p:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
}

.features-header p:nth-child(2) {
  font-weight: normal;
  margin-bottom: 50px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.feature-item p {
  margin: 0;
}

.features-item-info {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list .feature-item:nth-child(1) h2 {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 22px;
  line-height: 21px;
}

.features-list .feature-item:nth-child(2) h2 {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 22px;
  line-height: 21px;
}

.features-item-info p {
  font-weight: normal;
  margin: 0;
  margin-top: 19px;
  line-height: 21px;
}

.features-item-img-one {
  width: 800px;
  height: 256px;
  background-image: url("../img/features1.jpg");
  background-position: 0 -78px;
  background-repeat: no-repeat;
  background-color: #b08881;
}

.features-item-img-two {
  width: 800px;
  height: 256px;
  background-image: url("../img/features2.jpg");
  background-position: 0 -78px;
  background-repeat: no-repeat;
  background-color: #e8baa6;
}


.feature-item-three,
.feature-item-four,
.feature-item-five {
  width: 400px;

  text-align: center;
}

.feature-item-three h2,
.feature-item-four h2,
.feature-item-five h2 {
  margin-top: 44px;
  line-height: 23px;
  margin-bottom: 21px;
}

.feature-item-three p,
.feature-item-four p,
.feature-item-five p {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 58px;
  line-height: 21px;
}

.features-list .gray-bg {
  background-color: #eeeeee;
}

.service {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 82px;
  list-style: none;
}

.service-item {
  position: relative;
}

.house::before {
  content: "";
  position: absolute;
  top: 60px;
  left: calc(50% - 37px);
  width: 75px;
  height: 72px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: calc(50% - 37px);
  width: 74px;
  height: 70px;
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 57px;
  left: calc(50% - 32px);
  width: 64px;
  height: 76px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.service li {
  text-align: center;
  width: 400px;
  padding-top: 160px;
}

.service p:first-child {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 21px;
}

.service p:nth-child(2) {
  line-height: 21px;
}

.interested {
  text-align: center;
}

.interested h2 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 32px;
  letter-spacing: -1px;
}

.interested p {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.open-form {
  position: relative;
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  background-color: #766357;
  margin-top: 47px;
}

.open-form:hover,
.open-form:focus {
  background-color: #604e43;
}

.open-form:active {
  background-color: #503e33;
  color: #857871;
}

.modal {
  position: relative;
  z-index: 4;
}

.modal-show {
  display: none;
}

.search-motel-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 316px;
  padding: 55px;
  font-weight: bold;
  background-color: #ffffff;
  }

.form-group {
  width: 458px;
}

.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
}

.form-group input[type="text"] {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-right: 60px;
  padding-left: 14px;
  margin-bottom: 26px;
}

.form-group input:focus {
  box-shadow: inset 0 0 0 2px #ebebeb;
  background-color: #ffffff;
}

.form-group-item {
  position: relative;
}

.form-group-item button {
  border: none;
  background-color: transparent;
}

.form-group-item button:hover,
.form-group-item button:focus,
.form-group-item button:active {
  border: none;
  outline: none;
}

.calendar-icon {
  position: absolute;
  top: 6px;
  right: 10px;
  background-repeat: no-repeat;
}

.calendar-icon path {
  fill: #a9a9a9;
}

.calendar-icon:hover path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #81b3d2;
  border: none;
}

.form-group:nth-child(1) label {
  margin-right: 16px;
}

.form-group:nth-child(2) label {
  margin-right: 14px;
}

.form-group:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.parent,
.children {
  display: flex;
  justify-content: space-between;
}

.step-parent,
.step-children {
  position: relative;
  width: 114px;
}

.step-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.step-down::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.step-down:hover::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #000000;
}

.step-down:active::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #81b3d2;
}

.step-up {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.step-up::before,
.step-up::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.step-up:hover::before,
.step-up:hover::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #000000;
}

.step-up::after {
  transform: rotate(90deg);
}

.step-up:active::before,
.step-up:active::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #81b3d2;
}

.adults {
  margin-top: 8px;
  margin-right: 40px;
}

.kid {
  margin-top: 7px;
  margin-left: 50px;
  margin-right: 27px;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border: none;
}

.form-group input[type="number"] {
  text-align: center;
  vertical-align: middle;
  min-height: 36px;
  width: 45px;
}

.search-motel-form .button-search {
  width: 458px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: #81b3d2;
  margin-top: 56px;
}

.search-motel-form .button-search:hover {
  background-color: #669ec0;
}

.search-motel-form .button-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map iframe {
  position: absolute;
  z-index: 2;

  border: 0;
  width: 1200px;
  height: 593px;
}

.modal-map {
  height: 593px;
  margin: 0;
  background-color: #f2f1ef;
}

.main-footer {
  position: relative;
  z-index: 3;
  display: flex;

  background-color:  rgba(255, 255, 255, 0.9);
  margin: 0;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 101px;
  padding-bottom: 36px;
}

.footer-margin {
  margin: 0;
  margin-top: -120px;
}

.main-footer .hashteg {
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main-footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 ;
  margin-left: 257px;
  margin-right: 228px;
  padding: 0;

  width: 154px;
  list-style: none;
}

.main-footer p {
  margin: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

 .social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-left: 200px;
}

.author {
  width: 115px;
  height: 41px;
}

.author:hover path {
  fill: #81b3d2;
}

.author:active path {
  fill: #bdbbbc;
}
